@import "../global";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto", serif;
	background-color: $background-color;
	color: $color;
	margin: auto;
}

h1, h2, h3, h4, h5, h6 {
	color: $highlight-color;
}

.highlight-background {
	background-color: $highlight-background-color;
	width: 50%;
	height: 300px;
	margin: 2em;
	font-size: 36px;
	font-weight: 300;
}

input {
	outline: none;
	border: none;
	border-bottom: 1px solid $color;
	background-color: transparent;
	color: $color;
	margin: 0.5em;

	&::placeholder {
		color: $placeholder-color;
	}
}

label {
	margin: 0.5em;
}

img {
	border-radius: $border-radius;
}

button {
	cursor: pointer;
	padding: 0.5em 1em;
	margin: 0.5em;
	background-color: $button-color;
	border: none;
	color: $button-text-color;
	outline: none;
	border-radius: $border-radius;

	&:hover:not(.active) {
		transform: scale( 1.02 );
		background-color: $hover-button-color;

		&.pass-background {
			background-color: highlight( rgba( $pass-color, 0.5), 10% );
		}

		&.error-background {
			background-color: highlight( rgba( $error-color, 0.5), 10% );
		}

	}
}

.error {
	color: $error-color;
}

.error-background {
	background-color: rgba( $error-color, 0.6 );
}

.pass-background {
	background-color: rgba( $pass-color, 0.5);
}

.clickable {
	cursor: pointer;
	transition: 0.1s ease-in;

	&:hover {
		background-color: $highlight-button-color;
		transform: scale( 1.02 );
	}
}

.menu-bar {
	.button-bar {
		.active {
			background-color: $highlight-button-color;
		}
	}

	&.vertical {
		display: flex;

		.button-bar {
			button {
				display: block;
				width: max-content;
			}
		}

		.panel {
			width: 100%;
			margin: 0.5em;
		}
	}
}

.image-upload {
	border: solid 2px transparent;
	width: 5em;

	img {
		max-width: 100%;
	}

	svg {
		width: 1em;
		margin-left: -1.2em;
		margin-bottom: 0.1em;
		fill: dim( $color, 30% );
	}

	&:hover {
		border: dashed 2px $color;
		cursor: pointer;
	}
}