@import "../global";

body {
	background-color: $background-color;
	color: $color;
	max-width: 1025px;
	margin: auto;
	// padding: 0.5em;
}

input {
	outline: none;
	border: none;
	border-bottom: 1px solid $color;
	// background-color: lighten( $background-color, 5% );
	background-color: transparent;
	color: $color;
	margin: 0.5em;

	&::placeholder {
		color: highlight( $background-color, 50% );
	}
}

label {
	margin: 0.5em;
}

img {
	border-radius: 5px;
}

button {
	cursor: pointer;
	padding: 0.5em 1em;
	margin: 0.5em;
	background-color: $button-background-color;
	border: 1px solid dim( $button-background-color, 10% );
	color: $color;
	outline: none;
	border-radius: 5px;

	&:hover {
		transform: scale( 1.02 );
		background-color: highlight( $button-background-color, 10% );

		&.pass-background {
			background-color: highlight( rgba( $pass-color, 0.5), 10% );
		}

		&.error-background {
			background-color: highlight( rgba( $error-color, 0.5), 10% );
		}

	}
}

.error {
	color: $error-color;
}

.error-background {
	background-color: rgba( $error-color, 0.6 );
}

.pass-background {
	background-color: rgba( $pass-color, 0.5);
}

.clickable {
	cursor: pointer;
	transition: 0.1s ease-in;

	&:hover {
		background-color: highlight( $background-color, 15% );
		transform: scale( 1.02 );
	}
}

.menu-bar {
	.button-bar {
		.active {
			background-color: dim( $button-background-color, 15% );
		}
	}

	&.vertical {
		display: flex;

		.button-bar {
			button {
				display: block;
				width: max-content;
			}
		}

		.panel {
			width: 100%;
			margin: 0.5em;
		}
	}

	&.header-menu {
		.button-bar {
			display: flex;
			justify-content: flex-end;
			background-color: highlight( $background-color, 25% );
			button {
				background-color: transparent;
				border-radius: 0;
				padding: 1em;
				margin: 0;
				border-top: none;
				border-left: none;
				border-color: highlight( $background-color, 20% );

				&:hover {
					background-color: highlight( $background-color, 15% );
					transform: none;
					// font-size: 1.01em;
					color: dim( $color, 20% );
				}

				&.active {
					background-color: highlight( $background-color, 15% );
					color: dim( $color, 10% );
				}
			}

			:first-child {
				min-width: 25%;
				padding: 0 1em;
				white-space: nowrap;
				text-align: left;
				margin: 0.5em 0;
				background-color: transparent;
			}

			:last-child {
				border-right: none;
				flex-grow: 2;
				text-align: right;
				margin-left: auto;
				max-width: fit-content;
			}
		}
	}
}

.image-upload {
// .file-upload {
	// display: flex;
	border: solid 2px transparent;
	width: 5em;

	img {
		max-width: 100%;
	}

	svg {
		width: 1em;
		margin-left: -1.2em;
		margin-bottom: 0.1em;
		fill: dim( $color, 30% );
	}

	&:hover {
		border: dashed 2px $color;
		cursor: pointer;
	}
}