.view-finder {
	position: relative;

	svg {
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 80%;
		height: 80%;
		// color: #083c9e4b;
		fill: #083c9e4b;
		&.animate {
			animation: pulse 0.5s infinite ease-in-out;
		}
	}	
}

@keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(0.95); }
	100% { transform: scale(1); }
}
