$color: hsl(240, 15%, 95%);
$background-color: hsl(207, 25%, 15%);
$button-background-color: hsl(197, 43%, 39%);
$error-color: hsl(0, 86%, 61%);
$pass-color: hsl(120, 100%, 25% );

@function highlight( $color, $amount ) {
	@return lighten( $color, $amount )
};

@function dim( $color, $amount ) {
	@return darken( $color, $amount )
};
